# Q1. What is a database? Differentiate between SQL and NoSQL databases.

A database is a structured collection of data that is organized in a way that allows efficient retrieval, updating, and management of information. Databases are used to store and manage large amounts of data, and are essential for many modern applications, such as e-commerce sites, social media platforms, and financial systems.

## SQL Databases:

SQL stands for Structured Query Language, which is a standardized programming language used to manage and manipulate relational databases. SQL databases store data in a structured format, with tables that are linked to each other using keys. Some popular SQL databases include MySQL, Oracle, Microsoft SQL Server, and PostgreSQL

## NoSQL Databases:

 NoSQL stands for "not only SQL," and refers to a range of database technologies that do not rely on a traditional relational model. NoSQL databases store data in a variety of formats, including document-oriented, key-value, and graph databases.

# Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

DDL stands for Data Definition Language, and it is a subset of SQL (Structured Query Language) that is used to define and manage the structure of a database. DDL statements are used to create, modify, and delete database objects such as tables, indexes, and constraints.

### CREATE: 
The CREATE statement is used to create a new database object, such as a table or index. For example, the following SQL statement creates a new table called "customers" with four columns: id, name, email, and phone.

CREATE TABLE customers (
    id INT PRIMARY KEY,
    name VARCHAR(50),
    email VARCHAR(50),
    phone VARCHAR(20)
);

### DROP: 
The DROP statement is used to delete an existing database object, such as a table or index. For example, the following SQL statement deletes the "customers" table

DROP TABLE customers;

### ALTER: 
The ALTER statement is used to modify the structure of an existing database object, such as a table or column. For example, the following SQL statement adds a new column called "address" to the "customers" table

ALTER TABLE customers
ADD address VARCHAR(100);

### TRUNCATE: 
The TRUNCATE statement is used to delete all the data from an existing table, while leaving the table structure intact. For example, the following SQL statement removes all data from the "customers" table

TRUNCATE TABLE customers;

# Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

DML stands for Data Manipulation Language, and it is a subset of SQL (Structured Query Language) used to manipulate the data within a database. DML statements are used to insert, update, and delete data from the database tables.

### INSERT: 
The INSERT statement is used to insert new data into a table. For example, the following SQL statement inserts a new row into the "employees" table with the values "John", "Doe", "johndoe@email.com", and "Marketing"

INSERT INTO employees (first_name, last_name, email, department)
VALUES ('John', 'Doe', 'johndoe@email.com', 'Marketing');

### UPDATE: 
The UPDATE statement is used to modify existing data within a table. For example, the following SQL statement updates the email address for the employee with the id of 1234

UPDATE employees
SET email = 'newemail@email.com'
WHERE id = 1234;

### DELETE: 
The DELETE statement is used to remove data from a table. For example, the following SQL statement removes the row from the "employees" table where the id is 1234:

DELETE FROM employees
WHERE id = 1234;

# Q4. What is DQL? Explain SELECT with an example.

DQL stands for Data Query Language, and it is a subset of SQL (Structured Query Language) used to retrieve data from a database. DQL statements are used to retrieve data from one or more tables in the database

### SELECT:
The SELECT statement is used to retrieve data from one or more tables in a database. For example, the following SQL statement retrieves all data from the "employees" table:

SELECT * FROM employees;

# Q5. Explain Primary Key and Foreign Key.

In a relational database, a primary key and foreign key are used to establish relationships between tables.
### primary key
A primary key is a column or a set of columns in a table that uniquely identifies each row in the table. The primary key column(s) must contain a unique value for each row, and it cannot contain null values. The primary key is used to enforce the integrity of the data in the table, and it is used to establish relationships between tables. For example, in a database that stores information about employees and their departments, the "employee_id" column in the "employees" table could be the primary key, as each employee would have a unique ID.
### foreign key
A foreign key is a column or a set of columns in one table that refers to the primary key column(s) in another table. The foreign key establishes a relationship between the two tables, and it is used to enforce referential integrity. For example, in the database that stores information about employees and their departments, the "department_id" column in the "employees" table could be a foreign key that refers to the "department_id" column in the "departments" table.

# Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [3]:
import mysql.connector

# Connect to MySQL database
mydb = mysql.connector.connect(
  host="localhost",
  user="username",
  password="password",
  database="databasename"
)

# Create a cursor object
mycursor = mydb.cursor()

# Execute a SQL query
mycursor.execute("SELECT * FROM employees")

# Fetch all the results
results = mycursor.fetchall()

# Print the results
for result in results:
  print(result)

# Close the connection
mydb.close()

ModuleNotFoundError: No module named 'mysql'

# Q7. Give the order of execution of SQL clauses in an SQL query.

FROM: This clause specifies the table or tables from which to retrieve the data.

WHERE: This clause filters the data based on a condition or set of conditions.

GROUP BY: This clause groups the data based on one or more columns.

HAVING: This clause filters the grouped data based on a condition or set of conditions.

SELECT: This clause specifies the columns to retrieve from the table.

ORDER BY: This clause sorts the data based on one or more columns.

LIMIT: This clause specifies the maximum number of rows to retrieve.