# Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [1]:
import pandas as pd

In [7]:
data = [4, 8, 15, 16, 23, 42]
series = pd.Series(data)
print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

# Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable print it.

In [8]:
data=[1,2,3,4,5,6,7,8,9,0]
series = pd.Series(data)

In [9]:
series

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
9    0
dtype: int64

# Create a Pandas DataFrame that contains the following data:

In [15]:
data={"name":["alice","john","arun"],"age":[23,24,26],"gender":["M","M","M"]}

In [16]:
pd.DataFrame(data)

    name  age gender
0  alice   23      M
1   john   24      M
2   arun   26      M

# Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

 DataFrame represents a complete dataset, a Pandas Series is a one-dimensional array-like object that can store data of a single data type. It is similar to a column in a spreadsheet or a single column of a DataFrame.

In [17]:
data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [21, 19, 20],
    'Grade': [85, 92, 78]
}

df = pd.DataFrame(data)
print(df)

      Name  Age  Grade
0    Alice   21     85
1      Bob   19     92
2  Charlie   20     78

In [18]:
grade_series = df['Grade']
print(grade_series)

0    85
1    92
2    78
Name: Grade, dtype: int64

# Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can you give an example of when you might use one of these functions?

head() and tail(): These functions allow you to retrieve the first or last n rows of a DataFrame, respectively.

info(): This function provides a summary of the DataFrame, including the column names, data types, and memory usage.